@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

:root {
 --Clr1: #e4e6e8;
 --Clr2: #84c2e6;
 --clr3: #46a9e2;
}

* {
 box-sizing: border-box;
}

html {
 color: var(--Clr1);
 font-family: "Poppins", sans-serif;
}
body {
 background: var(--Clr2);
 height: 100dvh;
 margin: 0 auto;
}
header {
 display: grid;
 grid-auto-flow: row;
 place-items: center;
 margin: 2rem 0 0 0;
}
header img {
 width: 100px;
 border-radius: 50%;
 height: 100px;
 object-fit: cover;
}

h1 {
 font-size: 2.5rem;
 font-weight: 300;
 text-align: center;
 margin: 0;
}
.link-list {
 display: grid;
 place-items: center;
 height: 100%;
}

.link-preview {
 background: var(--Clr1);
 cursor: pointer;
 display: grid;
 place-items: center;
 box-shadow: 0 0 0 1px var(--Clr1);
 border-radius: 5px;
 padding: 1rem;
 width: 80vw;
}

.link-preview a {
 text-decoration: none;
 color: var(--clr3);
 font-weight: 500;
}
link-preview:active {
 background: var(--clr2);
 color: var(--Clr1);
 box-shadow: 0 0 0 1px var(--clr1);
}
